<div class="item" *ngIf="task !== null">
    <div class="item__content">
        <div class="item__main">
            <a class="item__link" [routerLink]="'/dashboard/' + task.id">{{task.title}}</a>
            <p class="item__desc">{{task.description}}</p>
            <span *ngIf="task.labels.length > 0" class="item__label">{{task.labels[0]}}</span>
        </div>
        <img class="item__assignee" *ngIf="task.assignee" [src]="task.assignee.photoURL">
    </div>
    <div class="item__footer">
        <img class="item__footer-img" [src]="'assets/images/task-types/' + task.type + '.svg'">
        <img class="item__footer-img" [src]="'assets/images/task-priorities/' + task.priority + '.svg'">
        <span class="item__estimate">{{task.estimate}}</span>
    </div>
</div>
