<section>
    <app-header>Dashboard</app-header>
    <div class="task-list__controls">
        <button 
            class="task-list__icon-button" 
            mat-button
            (click)="openDialog()"
        >
            <mat-icon>add</mat-icon>
            <span> Create task</span>
        </button>
        <button
            class="task-list__icon-button"
            mat-button
            (click)="openFilters()"
        >
            <mat-icon>filter_alt</mat-icon>
            <span> Apply filters</span>
        </button>
        <button
            class="task-list__icon-button"
            mat-button
            (click)="clearFilters()"
        >
            <mat-icon>clear_all</mat-icon>
            <span> Clear filters</span>
        </button>
    </div>
    <div class="task-list__board" cdkDropListGroup>
        <ng-template ngFor let-column [ngForOf]="taskStates">
            <h3 class="column__header">{{column}}</h3>
            <div                
                cdkDropList
                class="column__list"
                [cdkDropListData]="getColumnData(column)"
                (cdkDropListDropped)="drop($event)">
                <div class="column__item" *ngFor="let item of getColumnData(column)" cdkDrag>
                    <app-task-list-item [task]="item"></app-task-list-item>
                </div>
            </div>
        </ng-template>
    </div>
</section>
