:root {    
    /* colors */ 
    --text-error: #f44336;
    --bg-color: #f4f5f7;
    --menu-text-color: #42526e;
    --main-text-color: #172b4d;
    --label-color: #0052cc;
    --footer-text-color: #7a869a;
    --link-color: #5e6c84;
    --divider-color: rgba(0,0,0,0.12);
    
    /* other variables */
    --border-radius: 4px;

    /* root styles */
    font-size: 14px;
}

html, body { 
    height: 100%; 
}
body {
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
